p   {
    color: red;
}
li[value="4"] {
    color: blue;
}
#id-selector-demo {
    color: green;
}
.note {
    font-size: 20px;
}
* {
    text-align: center;
}

ol {
    margin-top: -20px;
    margin-left: -40px;
    list-style-position: inside;
}